<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="stylesheets/style-test.css">
  <script src="javascripts/aboutMe.js"></script>
  <title>Kyla Massey | Web Designer</title>

</head>

<header>
  <div class="dropdown">
  <!--menu dropdown icon http://iconmonstr.com-->
    <button onclick="myFunction()" class="dropbtn"><img id="images/logoheader" src="images/menu.png" width="5%"></button>
    <div id="myDropdown" class="dropdown-content">
      <a href="#">Home</a>
      <a href="#">About Kyla</a>
      <a href="#">Contact</a>
    </div>
  </div>

  <div id="nametitle">
    <h3>Kyla Massey | Web Developer</h3>
  </div>
</header>


<body>

  <div class="brandstate">
    <div id="brandtext">
    <img id="bornin" src="images/bornin.png">
    </div>

  </div>

  <div id="indextable">

  <table id="tabletru">
    <tr>
      <td>
        <div class="kylaabout">
<!--personal photo--><a href="#"><img src="images/about.jpg"></a>
        </div>
      </td>
      <td>
        <div class="kylacreate">
<!--personal photo/--><a href="#"><img src="images/create.jpg"></a>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="kylaexplore">
<!--personal photo--><a href="#"><img src="images/explore.jpg"></a>
        </div>
      </td>
      <td>
        <div class="kylaplay">
<!--http://www.unsplash.com--><a href="#"><img src="images/play.jpg"></a>
        </div>
      </td>
    </tr>

  </table>
 </div>

</body>


</html>
